/* Điều chỉnh chiều rộng của nội dung */
.wy-nav-content {
    max-width: 100% !important;  /* Đảm bảo nội dung chiếm hết chiều rộng */
    width: 100% !important;
}

/* Tăng chiều rộng của panel bên trái */
.wy-nav-side {
    width: 300px !important; /* Điều chỉnh chiều rộng của thanh bên trái */
}


/* Tăng khoảng cách dưới các ô mã */
div.highlight {
    margin-bottom: 0px;
}

div.output_area.docutils.container {
    margin-bottom: 0px;
}

div.nboutput.nblast.docutils.container {
    margin-bottom: 16px;
}

/* Giảm khoảng cách dưới các ô văn bản */
p {
    line-height: 24px;
    font-size: 16px;
    margin: 0 0 12px;
}

/* Tăng khoảng cách trên các tiêu đề */
.rst-content h1, 
.rst-content h2, 
.rst-content h3, 
.rst-content h4, 
.rst-content h5, 
.rst-content h6 {
    margin-top: 1em;
}

/* Tăng chiều rộng của panel bên trái */
.wy-nav-side {
    width: 300px; /* Điều chỉnh chiều rộng theo nhu cầu */
}
